<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/Site.css" />
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/cddss.css" />
  </styleBundle>
  
  <styleBundle path="~/Login/css">
    <include path="~/Content/login.css" />
  </styleBundle>
  
  <styleBundle path="~/Register/css">
    <include path="~/Content/register.css" />
  </styleBundle>

  <styleBundle path="~/Profile/css">
    <include path="~/Content/profile.css" />
  </styleBundle>

  <styleBundle path="~/createNewIssue/css">
    <include path="~/Content/newIssue.css" />
  </styleBundle>

  <styleBundle path="~/myIssues/css">
    <include path="~/Content/myissues.css" />
    <include path="~/Content/rating.css" />
  </styleBundle>

  <styleBundle path="~/allIssues/css">
    <include path="~/Content/allissues.css" />
    <include path="~/Content/rating.css" />
  </styleBundle>

  <styleBundle path="~/issueDetail/css">
    <include path="~/Content/issuedetail.css" />
  </styleBundle>
  
  <styleBundle path="~/Content/themes/base/css">
    <include path="~/Content/themes/base/jquery.ui.core.css" />
    <include path="~/Content/themes/base/jquery.ui.resizable.css" />
    <include path="~/Content/themes/base/jquery.ui.selectable.css" />
    <include path="~/Content/themes/base/jquery.ui.accordion.css" />
    <include path="~/Content/themes/base/jquery.ui.autocomplete.css" />
    <include path="~/Content/themes/base/jquery.ui.button.css" />
    <include path="~/Content/themes/base/jquery.ui.dialog.css" />
    <include path="~/Content/themes/base/jquery.ui.slider.css" />
    <include path="~/Content/themes/base/jquery.ui.tabs.css" />
    <include path="~/Content/themes/base/jquery.ui.datepicker.css" />
    <include path="~/Content/themes/base/jquery.ui.progressbar.css" />
    <include path="~/Content/themes/base/jquery.ui.theme.css" />

    <include path="~/Content/themes/base/selectmenu.css" />
  </styleBundle>
</bundles>
