@import url(http://fonts.googleapis.com/css?family=Maven+Pro);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);

html { 
    background:none;
    background-color:#E5E5E5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    background-color:#00796B;
    height:102px;
}

.main-content {
    background-color:#ffffff;
    margin-bottom:50px;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);

    padding-left:50px;
    padding-right:50px;
    padding-top:10px;
    padding-bottom:50px;
}

h1, .h1 {
    font-family: 'Maven Pro', sans-serif;
    color:#009688;
    font-size:48px;
    margin-bottom:10px;
    margin-top:10px;
}

h2, .h2 {
    font-family: 'Maven Pro', sans-serif;
    color:#000000;
    font-size:24px;
    margin-bottom:20px;
}

#site-nav {
    display:block !important;
}

/********************
*   Mobile Styles   *
********************/

@media only screen and (max-width: 1199px) {

header {
    background-color:#00796B;
    height:174px;
}

#site-nav {
    margin-left:0px !important;
}

#allIssuesLink, #myIssuesLink, #site-nav-sign {
    font-size: 2em;

}

#site-nav-sign {
    font-size: 3em;
}

}

@media only screen and (max-width: 850px) {

header {
    background-color:#00796B;
    height:284px;
}

#site-nav {
    margin-left:0px !important;
    margin-top:30px;
    margin-bottom:30px;
}

#allIssuesLink, #myIssuesLink, #site-nav-sign {
    font-size: 1.5em;

}

#site-nav-sign {
    font-size: 2em;
}

}