@import url(http://fonts.googleapis.com/css?family=Maven+Pro);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);

html { 
    background:none;
    background-color:#E5E5E5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    background-color:#00796B;
    height:102px;
}

.main-content {
    background-color:#ffffff;
    margin-bottom:50px;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);

    padding-left:50px;
    padding-right:50px;
    padding-top:10px;
    padding-bottom:50px;
}

h1, .h1 {
    font-family: 'Maven Pro', sans-serif;
    color:#009688;
    font-size:48px;
    margin-bottom:10px;
    margin-top:10px;
}

h2, .h2 {
    font-family: 'Maven Pro', sans-serif;
    color:#000000;
    font-size:24px;
    margin-bottom:20px;
}

h3, .h3 {
    font-family: 'Maven Pro', sans-serif;
    color:#000000;
    font-size:24px;
    margin-bottom:0px !important;
}

#site-nav {
    display:block !important;
}

#MainContent_issueTitle {
    font-family: 'Maven Pro', sans-serif;
    
    font-size:25px;
    color:#000000;
    text-transform:uppercase;
    font-weight:500;
    margin-top:10px;
    margin-bottom:5px;
}

.table_tag {
    border:2px solid #B2DFDB;
    background-color:transparent;

    font-family: 'Maven Pro', sans-serif;
    font-size:12px;
    color:#727272;
    text-transform:capitalize;
    display:inline-block;
    padding:2px 4px 2px 4px;
    margin-right:5px;
}

.table_tags {
    margin-bottom:5px;
    padding-left:0px !important;
    padding-right:0px !important;
}

.table_rating {
    padding-left:0px !important;
    padding-right:0px !important;
    margin-bottom:10px;
}

.table_status {
    padding-left:0px !important;
    padding-right:0px !important;
    margin-bottom: 20px;
}

.status_creating, .status_brainstorming, .status_finished, .status_reviewed {
    border:1px solid #DBDBDB;

    font-family: 'Maven Pro', sans-serif;
    font-size:12px;
    font-style:normal;
    font-weight:500;
    color:#ffffff;
    text-transform:uppercase;

    display:inline-block !important;

    padding:4px 8px 4px 8px;
    margin-top:5px;
    margin-bottom:10px;
}

.status_creating {
    background-color:#EAB9B9;
}

.status_brainstorming {
    background-color:#FF9B49;
}

.status_finished {
    background-color:#8EAA90;
}

.status_reviewed {
    background-color:#FFD203;
}

#MainContent_description, #MainContent_relations {
    font-family: 'Maven Pro', sans-serif;
    font-size:18px;
    color:#727272;
}

/********************
*   Mobile Styles   *
********************/

@media only screen and (max-width: 1199px) {

header {
    background-color:#00796B;
    height:174px;
}

#site-nav {
    margin-left:0px !important;
}

#allIssuesLink, #myIssuesLink, #site-nav-sign {
    font-size: 2em;

}

#site-nav-sign {
    font-size: 3em;
}

}

@media only screen and (max-width: 850px) {

header {
    background-color:#00796B;
    height:284px;
}

#site-nav {
    margin-left:0px !important;
    margin-top:30px;
    margin-bottom:30px;
}

#allIssuesLink, #myIssuesLink, #site-nav-sign {
    font-size: 1.5em;

}

#site-nav-sign {
    font-size: 2em;
}

}